  <!-- Payment method START -->
<div class="card bg-transparent border rounded-3 mb-4 z-index-9">
  <!-- Card header START -->
  <div class="card-header bg-transparent d-sm-flex justify-content-sm-between align-items-center border-bottom">
    <h3 class="mb-2 mb-sm-0">New Admission</h3>
    <!--<a href="#" class="btn btn-sm btn-primary mb-0" data-bs-toggle="modal" data-bs-target="#addNewcard">Add new student</a>-->
  </div>
  <!-- Card header END -->    <!-- Card body START -->

  <div class="card-body">
    <div class="accordion accordion-circle" id="accordioncircle">
      <!-- Credit or debit card START -->
      <div class="accordion-item mb-3" id="collapse-1">
        <div class="accordion-body">
          <form>
            <div class="row" aria-labelledby="heading-1">
              <div class="row">
                <div class="col-md-4">
                  <label for="f_name" class="form-label">First Name</label><br />
                  <input class="form-control" type="text" id="f_name" name="f_name" [(ngModel)]="student2.fName" />
                </div>
                <div class="col-md-4">
                  <label for="M_name" class="form-label">Middle Name</label><br />
                  <input class="form-control" type="text" id="M_name" name="M_name" [(ngModel)]="student2.mName" />
                </div>
                <div class="col-md-4">
                  <label for="L_Name" class="form-label">Last Name</label><br />
                  <input class="form-control" type="text" id="L_Name" name="L_Name" [(ngModel)]="student2.lName" />
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" id="email" name="email" [(ngModel)]="student2.email" />
                </div>
                <div class="col-md-6">
                  <label for="phone" class="form-label">Mobile</label>
                  <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="student2.contactNo" />
                </div>
              </div>

              <div class="row">
                <label for="address" class="form-label"> Address </label>
                <textarea class="form-control" [(ngModel)]="student2.address" id="address" name="address"></textarea>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <label for="country" class="form-label">Country</label>
                  <input type="text" [(ngModel)]="student2.country" name="country" id="country" value="India" class="form-control" placeholder="INDIA" disabled/>
                  <!--<select class="form-control" [(ngModel)]="student2.country" name="country" id="country" disabled>-->
                    <!--<option *ngFor ="let oneOption of listOptions" [ngValue]="oneOption.id">
                      {{oneOption.name}}</option>-->

                  <!--</select>-->
                </div>
                <div class="col-md-4">
                  <label for="state" class="form-label">State</label>
                  <select class="form-control" #state [(ngModel)]="student2.state" (change)="onStateChange(state.value)" name="state">
                    <option *ngFor="let onestate of states" [value]="onestate.Id">
                      {{onestate.Name}}
                    </option>
                  </select> 
                </div>
                <div class="col-md-4">
                  <label for="city" class="form-label">City</label>
                  <select class="form-control" [(ngModel)]="student2.city" name="city" id="city">
                    <option *ngFor="let onecity of cities" [value]="onecity.id">
                      {{onecity.city}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <label for="education" class="form-label">Education</label>
                  <select class="form-control" [(ngModel)]="student2.education" name="education" id="education">
                    <option *ngFor="let edu of education" [value]="edu.Education">
                      {{edu.Education}}
                    </option>
                  </select>
                </div>
                <div class="col-md-6">
                  <label for="skillSet" class="form-label select">Skills</label>
                  <ng-multiselect-dropdown [settings]="settings"
                                           [data]="skills"
                                           [placeholder]="'Select the data'"
                                           [(ngModel)]="student2.skillSet"                                           
                                           name="skillSet" id="skillSet">
                  </ng-multiselect-dropdown>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <label for="category" class="form-label">Category</label>
                  <select class="form-control" [(ngModel)]="student2.categoryCode" (change)="onCategoryChange(category.value)" #category name="category">
                    <option *ngFor="let cate of categoryCode" [value]="cate.categoryId">
                      {{cate.name}}
                    </option>
                  </select>
                </div>
                <div class="col-md-6">
                  <label for="courseCode" class="form-label">Course</label>
                  <select class="form-control" [(ngModel)]="student2.courseCode" name="courseCode" id="courseCode">
                    <option *ngFor="let course of courseCode" [value]="course.CourseCode">
                      {{course.CourseName}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-3">
                  <label for="joiningDate" class="form-label">Joining Date : </label> <br />
                  <ngx-datepicker name="joiningDate" [(ngModel)]="joiningDate" [options]="options" (ngModelChange)="HiddenJoiningField()"></ngx-datepicker>
                  <input type="hidden" [value]="hiddenJoiningDate" name="joiningDate" [(ngModel)]="student2.joiningDate" />
                </div>
                <div class="col-lg-3">
                  <label for="birthdate" class="form-label">Birth Date : </label> <br />
                  <ngx-datepicker name="birthdate" [(ngModel)]="birthdate" [options]="options" (ngModelChange)="HiddenBirthField()"></ngx-datepicker>
                  <input type="hidden" [value]="hiddenJoiningDate" name="birthdate" [(ngModel)]="student2.birthdate" />
                </div>
                <div class="col-lg-3">
                  <label for="coursefees" class="form-label">Course Fee:</label>
                  <input type="text" class="form-control" [(ngModel)]="student2.courseFees" id="coursefees" name="coursefees" /> <!--[value]="course.price"-->
                </div>
                <div class="col-lg-3">
                  <label for="paid" class="form-label">IsPaid</label>
                  <input class="form-check-input me-lg-9 form-control" type="checkbox" value="yes" id="paid" name="paid" [(ngModel)]="student2.isPaid" />
                </div>
              </div>
              <div class="row">
                
                <div class="col-lg-3">
                  <label for="discount" class="form-label">Discount:</label>
                  <input type="text" class="form-control" [(ngModel)]="student2.discount" id="discount" name="discount" />
                </div>
                <div class="col-lg-3">
                  <label for="totalfees" class="form-label">Total Fees:</label>
                  <input type="text" class="form-control" [(ngModel)]="student2.totalFees" id="totalfees" name="totalfees" />
                </div>
                <div class="col-md-3">
                  <label for="paidfees" class="form-label">Payed Fees : </label>
                  <input type="text" class="form-control" id="paidfees" name="paidfees" [(ngModel)]="student2.paidAmount" />
                </div>
              </div>
            </div>
            <div class="row center">
              <button class="btn btn-primary m-3" (click)="addStudent()">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Card body START -->
</div>
<!-- Payment method END -->
<!-- Main content END -->
