<main>

  <!-- Tab Content START -->
  <div class="tab-content">

    <!-- Personal Information content START -->
    <div class="tab-pane show active" id="tab-1">
      <div class="card shadow">

        <!-- Card header -->
        <div class="card-header border-bottom">
          <h2 class="card-header-title text-center">Chapter : {{chapterName.chapterName}}</h2>
        </div>

        <!-- Card body START -->
        <div class="card-body">
          <form class="row g-4 align-items-center">

            <!-- Input item -->
            <div class="col-lg-4">
              <label class="form-label">Chapter ID</label>
              <input type="text" class="form-control" id="chapterCode" name="chapterCode" [(ngModel)]="ChapterDetail.chapterCode" [value]="ChapterDetail.chapterCode" placeholder="Chapter ID" disabled>  <!---->
              <div class="form-text">Chapter Code</div>
            </div>

            <!-- Input item -->
            <div class="col-lg-4">
              <label class="form-label">Excepted Date</label>
              <!--<ngx-datepicker name="expectedDate" [(ngModel)]="expectedDate" [options]="options" (ngModelChange)="HiddenExpectedField()" required></ngx-datepicker>-->
              <input type="text" [value]="ChapterDetail.expectedDate" name="expectedDate" [(ngModel)]="ChapterDetail.expectedDate" />
              <div class="form-text">Date of Exception of chapter</div>
            </div>

            <!-- Input item -->
            <div class="col-lg-4">
              <label class="form-label">Completion Date</label>
              <!--<ngx-datepicker name="completionDate" [(ngModel)]="completionDate" [options]="options" (ngModelChange)="HiddenCompletionField()" required></ngx-datepicker>-->
              <input type="text" [value]="ChapterDetail.completionDate" name="completionDate" [(ngModel)]="ChapterDetail.completionDate" />
              <div class="form-text">Date for completion of chapter</div>
            </div>

            <!-- Textarea item -->
            <div class="col-6">
              <label class="form-label">Meeting Link</label>
              <textarea class="form-control" rows="3" [(ngModel)]="ChapterDetail.meetingLink" [ngModelOptions]="{standalone: true}" [value]="ChapterDetail.meetingLink"></textarea>
              <div class="form-text">Attach Meeting Link <button type="button" class="btn btn-sm btn-outline-primary mb-0 float-end">Send Meeting Link</button></div>
              
            </div>

            <!-- Textarea item -->
            <div class="col-6">
              <label class="form-label">Recording Link</label>
              <textarea class="form-control" rows="3" [(ngModel)]="ChapterDetail.recordingLink" [ngModelOptions]="{standalone: true}" [value]="ChapterDetail.recordingLink"></textarea>
              <div class="form-text">Attach Recording Link</div>
            </div>

            <!-- Input item -->
            <div class="col-lg-12">
              <label class="form-label">Resource</label>
              <angular-editor #editor [placeholder]="'Enter text here...'" [config]="editorConfig" (input)="onEditorInput($event)"></angular-editor>
              <div class="form-text">Enter your Resources</div>
            </div>

            <!-- Radio items -->
            <div class="col-lg-12">
              <label class="form-label">Student Attendence</label>
              <table class="table table-dark-gray">
                <thead class="text-center">
                  <tr>
                    <th for="Presentstudentes">Present Student</th>
                    <th for="Absentstudentes">Absent Student</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="col-6">
                      <ng-multiselect-dropdown [settings]="AttendanceSetting"
                                               [data]="student"
                                               [placeholder]="'Select the data'"
                                               [(ngModel)]="ChapterDetail.presentStudent"
                                               name="Presentstudentes" id="Presentstudentes" #Presentstudentes="ngModel" ngModel required>
                      </ng-multiselect-dropdown>
                    </td>
                    <td class="col-6">
                      <ng-multiselect-dropdown [settings]="AttendanceSetting"
                                               [data]="student"
                                               [placeholder]="'Select the data'"
                                               [(ngModel)]="ChapterDetail.absentStudent"
                                               name="Absentstudentes" id="Absentstudentes" #Absentstudentes="ngModel" ngModel required>
                      </ng-multiselect-dropdown>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <input type="hidden" [(ngModel)]="ChapterDetail.isCompleted" value="true" >
           



            <!-- Save button -->
            <div class="d-sm-flex justify-content-center">
              <button type="button" class="btn btn btn-outline-danger mb-0" (click)="oncancel()">Cancel</button>&nbsp;
              <button type="button" class="btn btn-outline-success mb-0" (click)="onSubmit()">Update</button>
            </div>
          </form>
        </div>
        <!-- Card body END -->

      </div>
    </div>
    <!-- Personal Information content END -->

  </div>
  <!-- Tab Content END -->

</main>
