<!-- Title -->
<div class="row">
  <div class="col-12 mb-3">
    <h1 class="h3 mb-2 mb-sm-0">Dashboard</h1>
  </div>
</div>

<!-- Counter boxes START -->
<div class="row g-4 mb-4">
  <!-- Counter item -->
  <div class="col-md-6 col-xxl-3">
    <div class="card card-body bg-warning bg-opacity-15 p-4 h-100">
      <div class="d-flex justify-content-between align-items-center">
        <!-- Digit -->
        <div>
          <h2 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="1958" data-purecounter-delay="200">1</h2>
          <span class="mb-0 h6 fw-light">My Courses</span>
        </div>
        <!-- Icon -->
        <div class="icon-lg rounded-circle bg-warning text-white mb-0"><i class="fas fa-tv fa-fw"></i></div>
      </div>
    </div>
  </div>

  <!-- Counter item -->
  <div class="col-md-6 col-xxl-3">
    <div class="card card-body bg-black bg-opacity-10 p-4 h-100">
      <div class="d-flex justify-content-between align-items-center">
        <!-- Digit -->
        <div>
          <h2 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="1235" data-purecounter-delay="200">3</h2>
          <span class="mb-0 h6 fw-light">My Batch</span>
        </div>
        <!-- Icon -->
        <div class="icon-lg rounded-circle bg-black text-white mb-0"><i class="fas fa-user-friends fa-fw"></i></div>
      </div>
    </div>
  </div>

  <!-- Counter item -->
  <div class="col-md-6 col-xxl-3">
    <div class="card card-body bg-purple bg-opacity-10 p-4 h-100">
      <div class="d-flex justify-content-between align-items-center">
        <!-- Digit -->
        <div>
          <h2 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="1600" data-purecounter-delay="200">20</h2>
          <span class="mb-0 h6 fw-light">Total Students</span>
        </div>
        <!-- Icon -->
        <div class="icon-lg rounded-circle bg-purple text-white mb-0"><i class="fas fa-user-tie fa-fw"></i></div>
      </div>
    </div>
  </div>

  <!-- Counter item -->
  <div class="col-md-6 col-xxl-3">
    <div class="card card-body bg-success bg-opacity-10 p-4 h-100">
      <div class="d-flex justify-content-between align-items-center">
        <!-- Digit -->
        <div>
          <div class="d-flex">
            <h2 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="845" data-purecounter-delay="200">10</h2>
            <!--<span class="mb-0 h2 ms-1">hrs</span>-->
          </div>
          <span class="mb-0 h6 fw-light">Total Assessment</span>
        </div>
        <!-- Icon -->
        <div class="icon-lg rounded-circle bg-success text-white mb-0"><i class="bi bi-stopwatch-fill fa-fw"></i></div>
      </div>
    </div>
  </div>
</div>
<!-- Counter boxes END -->

<div class="row table-responsive">
  <table class="col table table-bordered table-responsive-sm">
    <thead class="table-dark text-center">
      <tr>
        <th colspan="3" scope="col" class="text-bg-purple">My Batch</th>
      </tr>
      <tr>
        <th scope="col">Batch Code</th>
        <th scope="col">Batch Name</th>
        <th scope="col">Batch Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let batch of BatchList">
        <td width="50%">{{batch.BatchCode}}</td>
        <td width="50%">{{batch.BatchName}}</td>
        <td width="50%">{{batch.StartTime}} to {{batch.EndTime}}</td>
      </tr>
    </tbody>
  </table>
  &nbsp;
  <table class="col table table-bordered table-responsive-sm">
    <thead class="table-dark text-center">
      <tr>
        <th colspan="3" scope="col" class="text-bg-purple">Today Plan</th>
      </tr>
      <tr>
        <th scope="col">Batch</th>
        <th scope="col">Chapter Code</th>
        <th scope="col">Chapter Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of ChapterList">
        <td>{{list.batchCode}}</td>
        <td>{{list.chapterCode}}</td>
        <td>{{list.chapterName}}</td>
      </tr>
    </tbody>
  </table>
</div>
