<!-- Main content START -->
<div class="col">
  <!-- Edit profile START -->
  <div class="card bg-transparent border rounded-3">
    <!-- Card header -->
    <div class="card-header bg-transparent border-bottom">
      <h3 class="card-header-title mb-0">Edit Profile</h3>
    </div>
    <!-- Card body START -->
    <div class="card-body">
      <!-- Form -->
      <form class="row g-4">

        <div class="col-12">
          <!-- Profile picture -->
          <div class="col-6 justify-content-center align-items-center">
            <label class="form-label">Profile picture</label>
            <div class="d-flex align-items-center">
              <label class="position-relative me-4" for="uploadfile-1" title="Replace this pic">
                <!-- Avatar place holder -->
                <span class="avatar avatar-xl">
                  <!--<div *ngIF="AccountTypeDetail.profileImg==='null'">-->
                  <!--<input type="file" id="fileInput" style="display:none" (change)="handleFileInput($event.target.files)">
                  <img [src]="previewImage" *ngIf="previewImage">

                  <img id="uploadfile-1-preview" (click)="fileInput.click()" class="avatar-img rounded-circle border border-white border-3 shadow" src="../../assets/images/avatar/01.jpg" alt="">-->
                  <!--src="assets/images/avatar/07.jpg"-->
                  <!--</div>-->
                  <!--<input type="file" class="form-control-file" id="file" (change)="onFileSelected($event)">-->

                </span>
              </label>
            </div>
          </div>
          <!-- Profile picture -->
          <!--Account Code-->
          <div class="col-6 justify-content-center">
            <label class="form-label">Enrollment No:</label>

          </div>
          <!--Account Code-->
        </div>

        <!-- Full name -->
        <div class="col-12">
          <label class="form-label">Full name</label>
          <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="AccountTypeDetail.fName" placeholder="First name" [ngModelOptions]="{standalone: true}" [value]="AccountTypeDetail.fName" />
            <input type="text" class="form-control" [(ngModel)]="AccountTypeDetail.mName" placeholder="Middle name" [ngModelOptions]="{standalone: true}" [value]="AccountTypeDetail.mName" />
            <input type="text" class="form-control" [(ngModel)]="AccountTypeDetail.lName" placeholder="Last Name" [ngModelOptions]="{standalone: true}" [value]="AccountTypeDetail.lName" />
          </div>
        </div>


        <!-- Phone number -->
        <div class="col-md-6">
          <label class="form-label">Phone number</label>
          <input type="text" class="form-control" [(ngModel)]="AccountTypeDetail.contactNo" [ngModelOptions]="{standalone: true}" [value]="AccountTypeDetail.contactNo" placeholder="Phone number">
        </div>

        <!-- Email id -->
        <div class="col-md-6">
          <label class="form-label">Email id</label>
          <input class="form-control" type="email" [(ngModel)]="AccountTypeDetail.email" [ngModelOptions]="{standalone: true}" [value]="AccountTypeDetail.email" placeholder="Email">
        </div>


        <!-- Education -->
        <div class="col-md-6">
          <label class="form-label">Education</label>
          <input class="form-control mb-2" type="text" [(ngModel)]="AccountTypeDetail.education" [ngModelOptions]="{standalone: true}" [value]="AccountTypeDetail.education">
        </div>

        <!-- Location -->
        <div class="col-md-6">
          <label class="form-label">Address</label>
          <input class="form-control" type="text" [(ngModel)]="AccountTypeDetail.address" [ngModelOptions]="{standalone: true}" [value]="AccountTypeDetail.address" >
        </div>

        <!-- About me -->
        <div class="col-12">
          <label class="form-label">About me</label>
          <textarea class="form-control" rows="3" [(ngModel)]="AccountTypeDetail.profileDes" [value]="AccountTypeDetail.profileDes" [ngModelOptions]="{standalone: true}"></textarea>
          <div class="form-text">Brief description for your profile.</div>
        </div>


        <!-- Save button -->
        <div class="d-sm-flex justify-content-center">
          <button type="button" class="btn btn-primary mb-0" (click)="UpdateProfile()">Update</button>&nbsp;&nbsp;
          <button type="button" class="btn btn-danger mb-0" routerLink="/dashboard">Cancel</button>
        </div>
      </form>
    </div>
    <!-- Card body END -->
  </div>
  <!-- Edit profile END -->

  <div class="row g-4 mt-3 justify-content-center">
    <!-- Password change START -->
    <div class="col-lg-6">
      <div class="card border bg-transparent rounded-3">
        <!-- Card header -->
        <div class="card-header bg-transparent border-bottom">
          <h5 class="card-header-title mb-0">Update password</h5>
        </div>
        <!-- Card body START -->
        <div class="card-body">
          <!-- Current password -->
          <div class="mb-3">
            <label class="form-label">Current password</label>
            <input class="form-control" type="password" placeholder="Enter current password">
          </div>
          <!-- New password -->
          <div class="mb-3">
            <label class="form-label"> Enter new password</label>
            <div class="input-group">
              <input class="form-control" type="password" placeholder="Enter new password">
              <span class="input-group-text p-0 bg-transparent">
                <i class="far fa-eye cursor-pointer p-2 w-40px"></i>
              </span>
            </div>
            <div class="rounded mt-1" id="psw-strength"></div>
          </div>
          <!-- Confirm password -->
          <div>
            <label class="form-label">Confirm new password</label>
            <input class="form-control" type="password" placeholder="Enter new password">
          </div>
          <!-- Button -->
          <div class="d-flex justify-content-center mt-4">
            <button type="button" class="btn btn-primary mb-0">Change password</button>
          </div>
        </div>
        <!-- Card body END -->
      </div>
    </div>
    <!-- Password change end -->
  </div>

</div>
<!-- Main content END -->
