<div class="page-content-wrapper border">
  <div class="row mb-3">
    <div class="col-12 d-sm-flex justify-content-between align-items-center">
      <h1 class="h3 mb-2 mb-sm-0">
        Student Page
        <!--<span class="badge bg-orange bg-opacity-10 text-orange">245</span>-->
      </h1>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-sm btn-primary mb-0" data-toggle="modal" routerLink="/student/InsertStudent">
        Add New Student
      </button>
      <!-- Button trigger modal -->
    </div>
  </div>
  <!-- Card START -->
  <div class="card bg-transparent border">
    <!-- Card header START -->
    <div class="card-header bg-light border-bottom">
      <!-- Search and select START -->
      <div class="row g-3 align-items-center justify-content-between">
        <!-- Search bar -->
        <div class="col-md-12">
          <form class="rounded position-relative">
            <input class="form-control bg-body" type="search" placeholder="Search"
                   aria-label="Search" />
            <button class="bg-transparent p-2 position-absolute top-50 end-0 translate-middle-y border-0 text-primary-hover text-reset"
                    type="submit">
              <i class="fas fa-search fs-6 "></i>
            </button>
          </form>
        </div>
        <!-- Select option -->
        
      </div>
      <!-- Search and select END -->
    </div>
    <!-- Card header END -->
    <!-- Card body START -->
    <div class="card-body">
      <!-- Course table START -->
      <div class="table-responsive border-0 rounded-3">
        <!-- Table START -->
        <table class="table table-dark-gray align-middle p-4 mb-0 table-hover">
          <!-- Table head -->
          <thead>
            <tr>
              <th scope="col" class="border-0 rounded-start">#</th>
              <th scope="col" class="border-0">Name</th>
              <th scope="col" class="morder-0">Email ID</th>
              <th scope="col" class="morder-0">Birthdate</th>
              <th scope="col" class="morder-0">Mobile No</th>
              <th scope="col" class="morder-0">Address</th>
              <th scope="col" class="border-0 rounded-end">Action</th>
            </tr>
          </thead>
          <!-- Table body START -->
          <tbody>
            <!-- Table row -->
            <tr *ngFor="let stud of student">
              <!--Table data-->
              <td>{{stud.studentCode}}</td>
              <!--Table data-->
              <td> {{stud.fullName}}</td>
              <!--Table data-->
              <td> {{stud.email}}</td>
              <!--Table data-->
              <td>{{stud.birthDate}}
              </td>
              <!--Table data-->
              <td> {{stud.contactNo}}</td>
              <!--Table data-->
              <td> {{stud.address}}</td>
              <!--Table data-->
              <td>
                <button class="btn btn-sm btn-success me-1 mb-1 mb-md-0" data-bs-toggle="modal" routerLink="/student/EditStudent/{{stud.studentCode}}">
                  Edit
                </button> 
                <!--<button class="btn btn-sm btn-danger mb-0">Delete</button>--> <!-- [attr.cid]="cate.categoryId" (click)="openDeleteFormModal(cate.categoryId)"-->
              </td>
            </tr> 
            <!-- Table row -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



