  <!-- Payment method START -->
<div class="card bg-transparent border rounded-3 mb-4 z-index-9">
  <!-- Card header START -->
  <div class="card-header bg-transparent d-sm-flex justify-content-sm-between align-items-center border-bottom">
    <h3 class="mb-2 mb-sm-0">Add New Course</h3>
    <!--<a href="#" class="btn btn-sm btn-primary mb-0" data-bs-toggle="modal" data-bs-target="#addNewcard">Add new student</a>-->
  </div>
  <!-- Card header END -->    <!-- Card body START -->

  <div class="card-body">
    <div class="accordion accordion-circle" id="accordioncircle">
      <!-- Credit or debit card START -->
      <div class="accordion-item mb-3" id="collapse-1">
        <div class="accordion-body">
          <form #AddCourse="ngForm">
            <div class="row" aria-labelledby="heading-1">
              <div class="row">
                <div class="col-md-4">
                  <label for="category" class="form-label">Category</label><br />
                  <select class="form-control" [(ngModel)]="course.categoryCode" #category="ngModel" ngModel required name="category">
                    <option *ngFor="let cate of categoryCode" [value]="cate.categoryId">
                      {{cate.name}}
                    </option>
                  </select>
                  <div class="alert alert-danger" *ngIf="category.invalid && (category.dirty || category.touched)">
                    <div *ngIf="category.errors?.['required']">
                      Please select category.
                    </div>                    
                  </div>
                </div>
                <div class="col-md-4">
                  <label for="coursename" class="form-label">Course Name</label><br />
                  <input class="form-control" type="text" id="coursename" name="coursename" [(ngModel)]="course.courseName"  #coursename="ngModel" ngModel required/>
                  <div class="alert alert-danger" *ngIf="coursename.invalid && (coursename.dirty || coursename.touched)">
                    <div *ngIf="coursename.errors?.['required']">
                      Course Name is required.
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <label for="coursefee" class="form-label">Course Fee</label><br />
                  <input class="form-control" type="text" id="coursefee" name="coursefee" [(ngModel)]="course.courseFee"  #coursefee="ngModel" ngModel required/>
                  <div class="alert alert-danger" *ngIf="coursefee.invalid && (coursefee.dirty || coursefee.touched)">
                    <div *ngIf="coursefee.errors?.['required']">
                      Coursefee is required.
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label for="duration" class="form-label">Duration Week</label><br />
                  <input class="form-control" type="text" id="duration" name="duration" [(ngModel)]="course.durationWeek"  #duration="ngModel" ngModel required/>
                  <div class="alert alert-danger" *ngIf="duration.invalid && (duration.dirty || duration.touched)">
                    <div *ngIf="duration.errors?.['required']">
                      Duration is required.
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <label for="lecture" class="form-label">Lectures</label><br />
                  <input class="form-control" type="text" id="lecture" name="lecture" [(ngModel)]="course.lectures"  #lecture="ngModel" ngModel required/>
                  <div class="alert alert-danger" *ngIf="lecture.invalid && (lecture.dirty || lecture.touched)">
                    <div *ngIf="lecture.errors?.['required']">
                      Lecture is required.
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <label for="text" class="form-label">Level</label>
                  <select class="form-control" id="level" name="level" [(ngModel)]="course.level" #level="ngModel" ngModel required>
                    <option value="1">Beginner</option>
                    <option value="2">Intermediate</option>
                    <option value="3">Advance</option>
                  </select>
                  <div class="alert alert-danger" *ngIf="level.invalid && (level.dirty || level.touched)">
                    <div *ngIf="level.errors?.['required']">
                      Please select Level.
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <label for="description" class="form-label">Description</label><br />
                  <textarea class="form-control" [(ngModel)]="course.description" id="description" name="description" #description="ngModel" ngModel required></textarea>
                  <div class="alert alert-danger" *ngIf="description.invalid && (description.dirty || description.touched)">
                    <div *ngIf="description.errors?.['required']">
                      Description is required.
                    </div>
                  </div>
                </div>
                <div class="col-md-5">
                  <label for="skill" class="form-label">Skill Tags</label><br />
                  <textarea class="form-control" [(ngModel)]="course.skillTags" id="skill" name="skill"></textarea>                  
                </div>
                <div class="col-md-2">
                  <label for="free" class="form-label">IsFree</label>
                  <input class="form-check-input me-lg-9 form-control" type="checkbox" value="yes" id="free" name="free" [(ngModel)]="course.isFree"/>                  
                </div>
              </div>
              <div class="row">
                <label for="formFile" class="form-label">Banner Upload</label>
                <input class="form-control" type="file" #file id="formFile" name="formFile" (change)="uploadFile($event)" placeholder="Choose file" #formFile="ngModel" ngModel required accept="image/png, image/gif, image/jpeg">
                <input class="form-control" type="hidden" [(ngModel)]="course.docID" [value]="course.docID"/>
                <div class="alert alert-danger" *ngIf="formFile.invalid && (formFile.dirty || formFile.touched)">
                  <div *ngIf="formFile.errors?.['required']">
                    Please Upload Image/Banner.
                  </div>
                </div>
              </div>
              <div class="row">
                <button class="btn btn-primary m-3" [class.disabled]="!AddCourse.valid" (click)="addCourse()">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Card body START -->
</div>
<!-- Payment method END --> 
<!-- Main content END -->
