<!-- Title -->
<div class="row">
  <div class="col-12 mb-3">
    <h1 class="h3 mb-2 mb-sm-0">Dashboard</h1>
  </div>
</div>

<!-- Counter boxes START -->
<div class="row g-4 mb-4">
  <!-- Counter item -->
  <div class="col-md-6 col-xxl-3">
    <div class="card card-body bg-warning bg-opacity-15 p-4 h-100">
      <div class="d-flex justify-content-between align-items-center">
        <!-- Digit -->
        <div>
          <h2 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="1958" data-purecounter-delay="200">{{count.courseCount}}</h2>
          <span class="mb-0 h6 fw-light">Total Courses</span>
        </div>
        <!-- Icon -->
        <div class="icon-lg rounded-circle bg-warning text-white mb-0"><i class="fas fa-tv fa-fw"></i></div>
      </div>
    </div>
  </div>

  <!-- Counter item -->
  <div class="col-md-6 col-xxl-3">
    <div class="card card-body bg-black bg-opacity-10 p-4 h-100">
      <div class="d-flex justify-content-between align-items-center">
        <!-- Digit -->
        <div>
          <h2 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="1235" data-purecounter-delay="200">10</h2>
          <span class="mb-0 h6 fw-light">Total Batch</span>
        </div>
        <!-- Icon -->
        <div class="icon-lg rounded-circle bg-black text-white mb-0"><i class="fas fa-user-friends fa-fw"></i></div>
      </div>
    </div>
  </div>


  <!-- Counter item -->
  <div class="col-md-6 col-xxl-3">
    <div class="card card-body bg-purple bg-opacity-10 p-4 h-100">
      <div class="d-flex justify-content-between align-items-center">
        <!-- Digit -->
        <div>
          <h2 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="1600" data-purecounter-delay="200">{{count.studentCount}}</h2>
          <span class="mb-0 h6 fw-light">Total Students</span>
        </div>
        <!-- Icon -->
        <div class="icon-lg rounded-circle bg-purple text-white mb-0"><i class="fas fa-user-tie fa-fw"></i></div>
      </div>
    </div>
  </div>

  <!-- Counter item -->
  <div class="col-md-6 col-xxl-3">
    <div class="card card-body bg-success bg-opacity-10 p-4 h-100">
      <div class="d-flex justify-content-between align-items-center">
        <!-- Digit -->
        <div>
          <div class="d-flex">
            <h2 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="845" data-purecounter-delay="200">10</h2>
            <!--<span class="mb-0 h2 ms-1">hrs</span>-->
          </div>
          <span class="mb-0 h6 fw-light">Total Assessment</span>
        </div>
        <!-- Icon -->
        <div class="icon-lg rounded-circle bg-success text-white mb-0"><i class="bi bi-stopwatch-fill fa-fw"></i></div>
      </div>
    </div>
  </div>


  <!-- Counter item -->
  <div class="col-md-6 col-xxl-3">
    <div class="card card-body bg-primary bg-opacity-10 p-4 h-100">
      <div class="d-flex justify-content-between align-items-center">
        <!-- Digit -->
        <div>
          <h2 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="1235" data-purecounter-delay="200">{{count.instructorCount}}</h2>
          <span class="mb-0 h6 fw-light">Total Instructor</span>
        </div>
        <!-- Icon -->
        <div class="icon-lg rounded-circle bg-primary text-white mb-0"><i class="fas fa-user-graduate fa-fw"></i></div>
      </div>
    </div>
  </div>

  <!-- Counter item -->
  <div class="col-md-6 col-xxl-3">
    <div class="card card-body bg-danger bg-opacity-10 p-4 h-100">
      <div class="d-flex justify-content-between align-items-center">
        <!-- Digit -->
        <div>
          <h2 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="1235" data-purecounter-delay="200">{{cashCount.TotalPayment}}</h2>
          <span class="mb-0 h6 fw-light">Total Payment</span>
        </div>
        <!-- Icon -->
        <div class="icon-lg rounded-circle bg-danger text-white mb-0"><i class="fas fa-money-bill fa-fw"></i></div>
      </div>    
    </div>
  </div>

  <!-- Counter item -->
  <div class="col-md-6 col-xxl-3">
    <div class="card card-body bg-grad bg-opacity-10 p-4 h-100">
      <div class="d-flex justify-content-between align-items-center">
        <!-- Digit -->
        <div>
          <h2 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="1235" data-purecounter-delay="200">{{cashCount.PendingAmount}}</h2>
          <span class="mb-0 h6 fw-light">Pending Outstanding</span>
        </div>
        <!-- Icon -->
        <div class="icon-lg rounded-circle bg-grad text-white mb-0"><i class="fas fa-money-bill-alt fa-fw"></i></div>
      </div>
    </div>
  </div>

  <!-- Counter item -->
  <div class="col-md-6 col-xxl-3">
    <div class="card card-body bg-orange bg-opacity-10 p-4 h-100">
      <div class="d-flex justify-content-between align-items-center">
        <!-- Digit -->
        <div>
          <h2 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="1235" data-purecounter-delay="200">{{cashCount.TotalEarning}}</h2>
          <span class="mb-0 h6 fw-light">Total Earning</span>
        </div>
        <!-- Icon -->
        <div class="icon-lg rounded-circle bg-orange text-white mb-0"><i class="fas fa-coins fa-fw"></i></div>
      </div>
    </div>
  </div>
</div>
<!-- Counter boxes END -->

<div class="row table-responsive">
  <table class="col table table-bordered table-responsive-sm">
    <thead class="table-dark text-center">
      <tr>
        <th colspan="2" scope="col" class="text-bg-purple">Student Enrollment</th>
      </tr>
      <tr>
        <th scope="col">Course</th>
        <th scope="col">Number of Admission</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stud of student">
        <td width="50%">{{stud.CourseName}}</td>
        <td width="50%">{{stud.NumberOfStudentsEnrolled}}</td>
      </tr>
    </tbody>
  </table>
 &nbsp;
  <table class="col table table-bordered table-responsive-sm">
    <thead class="table-dark text-center">
      <tr>
        <th colspan="2" scope="col" class="text-bg-purple">Monthly Student Enrollment</th>
      </tr>
      <tr>
        <th scope="col">Month</th>
        <th scope="col">Enrollment</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let enroll of MonthlyEnrollemnt">
        <td>{{enroll.EnrollmentMonth}}</td>
        <td>{{enroll.NumCoursesEnrolled}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row table-responsive">
  <table class="col table table-bordered table-responsive-sm">
    <thead class="table-dark text-center">
      <tr>
        <th colspan="4" scope="col" class="text-bg-purple">Monthly Student Enrollment</th>
      </tr>
      <tr>
        <th scope="col">Month</th>
        <th scope="col">Total Payment</th>
        <th scope="col">Pending Payment</th>
        <th scope="col">Total Earning</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let payment of MonthlyPayment">
        <td width="25%">{{payment.Month}}</td>
        <td width="25%">{{payment.TotalPayment}}</td>
        <td width="25%">{{payment.PendingAmount}}</td>
        <td width="25%">{{payment.TotalEarning}}</td>
      </tr>
    </tbody>
  </table>
</div>
