  <!-- Payment method START -->
<div class="card bg-transparent border rounded-3 mb-4 z-index-9">
  <!-- Card header START -->
  <div class="card-header bg-transparent d-sm-flex justify-content-sm-between align-items-center border-bottom">
    <h3 class="mb-2 mb-sm-0">Edit Course</h3>
    <!--<a href="#" class="btn btn-sm btn-primary mb-0" data-bs-toggle="modal" data-bs-target="#addNewcard">Add new student</a>-->
  </div>
  <!-- Card header END -->    <!-- Card body START -->

  <div class="card-body">
    <div class="accordion accordion-circle" id="accordioncircle">
      <!-- Credit or debit card START -->
      <div class="accordion-item mb-3" id="collapse-1">
        <div class="accordion-body">
          <form>
            <input type="hidden" [value]="id" [(ngModel)]="id" />
            <div class="row" aria-labelledby="heading-1">
              <div class="row">
                <div class="col-md-4">
                  <label for="category" class="form-label">Category</label><br />
                  <select class="form-control" [(ngModel)]="course.categoryCode" #category name="category">
                    <option *ngFor="let cate of categoryCode" [value]="cate.categoryId">
                      {{cate.name}}
                    </option>
                  </select>
                </div>
                <div class="col-md-4">
                  <label for="coursename" class="form-label">Course Name</label><br />
                  <input class="form-control" type="text" id="coursename" name="coursename" [(ngModel)]="course.courseName" [value]="course.courseName" />
                </div>
                <div class="col-md-4">
                  <label for="coursefee" class="form-label">Course Fee</label><br />
                  <input class="form-control" type="text" id="coursefee" name="coursefee" [(ngModel)]="course.courseFee" />
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label for="duration" class="form-label">DurationWeek</label><br />
                  <input class="form-control" type="text" id="duration" name="duration" [(ngModel)]="course.durationWeek" />
                </div>
                <div class="col-md-4">
                  <label for="lecture" class="form-label">Lectures</label><br />
                  <input class="form-control" type="text" id="lecture" name="lecture" [(ngModel)]="course.lectures" />
                </div>
                <div class="col-md-4">
                  <label for="level" class="form-label">Level</label>
                  <select class="form-control" id="level" name="level" [(ngModel)]="course.level">
                    <option [value]="1">Beginner</option>
                    <option [value]="2">Intermediate</option>
                    <option [value]="3">Advance</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <label for="L_Name" class="form-label">Description</label><br />
                  <textarea class="form-control" [(ngModel)]="course.description" id="address" name="address"></textarea>
                </div>
                <div class="col-md-5">
                  <label for="L_Name" class="form-label">Skill Tags</label><br />
                  <textarea class="form-control" [(ngModel)]="course.skillTags" id="address" name="address"></textarea>
                </div>
                <div class="col-md-2">
                  <label for="paid" class="form-label">IsFree</label>
                  <input class="form-check-input me-lg-9 form-control" type="checkbox" value="yes" id="paid" name="paid" [(ngModel)]="course.isFree" />
                </div>
              </div>
              <div class="row">
                <label for="formFile" class="form-label">Banner Upload</label>
                <div class="col">
                  <img src="localhost:7027/{{course.courseBanner}}" class="w-25" alt="Banner" />
                </div>
                <div class="col">
                  <button type="button" class="btn btn-info" (click)="formFile.click()">Change</button>
                  <input class="form-control" type="file" #formFile id="formFile" name="formFile" (change)="uploadFile($event)" placeholder="Choose file" hidden [(ngModel)]="course.courseBanner"> 
                </div>
              </div>
            </div>
            <div class="center row">
                <button type="submit" class="btn btn-primary btn-md m-3" (click)="editCourse()">Submit</button>             
                <button type="button" class="btn btn-danger btn-md m-3" routerLink="/course">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Card body START -->
</div>
<!-- Payment method END -->
<!-- Main content END -->
